<h1>Nueva Empresa</h1>
<div class="text-center">
  <%= simple_form_for @company do |f| %>
    <%= f.input :name_company, autofocus: true  %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
