<h2 class="font-title-dashboard fw-bold mt-3">Graficos</h2>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Line chart</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Pie chart</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <% start_of_month = Date.today.beginning_of_month %>
      <% end_of_month = Date.today.end_of_month %>
      <div class="card-contenido">
        <%#= Ganancias por mes %>
        <% current_year = Date.today.year %>
        <% start_of_year = Date.new(current_year, 1, 1) %>
        <% end_of_year = Date.new(current_year, 12, 31) %>

        <%= line_chart Company.joins(:products)
                          .group_by_month(:init_date, format: "%b %Y", range: start_of_year..end_of_year)
                          .sum("valor"),
                      xtitle: "Mes", ytitle: "Total", title: "Ganancias Totales por Mes en #{current_year}" %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
    </div>
  </div>
