<%= turbo_frame_tag "modal" %>
<div class="container">
  <h1 class="text-blue-400">Index de Companies</h1>

</div>

<div class="container">
  <div class="data-table">
    <table id="example" class="table table-striped">
      <thead class="thead-dark">
        <%= link_to "New Company", new_company_path, class: "btn btn-primary", data: { turbo_frame: 'modal' } %>
        <tr>
          <th scope="col" class="filterable">Company</th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each do |c| %>
        <tr>
          <td><%=c.name_company%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to "Volver", "/" %>
<script>
$(document).ready(function() {
  // Verificar si el elemento ya existe antes de agregarlo
  if ($('#example_wrapper').length === 0) {
    var table = $('#example').DataTable({
      "order": [[0, "asc"]],
      "pagingType": "full_numbers",
      "pageLength": 5,
      "lengthMenu": [5, 10, 25, 50]
    });
    $("#searchBtn").on("click", function() {
      table.draw();
    });
  }
});
</script>
